@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 92vh;
}

.nere-container {
  @apply mx-auto w-full max-w-[1261px] px-4 sm:px-6 lg:px-8;
}

.react-phone-number-input__icon {
  height: 20px;
  width: auto;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  padding-top: 1rem;
  margin-top: auto;
}

/* Footer.css */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  color: gray;
}

.footer-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.footer-left p {
  margin-right: 30px;
}

.footer-right {
  display: flex;
  gap: 10px;
}

.social-icon {
  color: #298592;
  font-size: 24px;
  transition: color 0.3s ease;
  margin: 15px;
}
.arrow-icon {
  color: gray;

  font-size: 20px;
  transition: color 0.3s ease;
  margin-block: 4px;
}

.ongoing-icon {
  color: #298592;
  font-size: 24px;
  transition: color 0.3s ease;
  margin: 15px;
}

.star-icon {
  color: #ffca49;
  font-size: 14px;
  transition: color 0.3s ease;
}

.p-text {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
  font-weight: bold;
}
.p-text2 {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
}
.p-text3 {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
  font-weight: bold;
  margin-left: 30%;
}
.p-text4 {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
  font-weight: bold;
}

.ongoing-icon {
  color: #298592;
  font-size: 24px;
  transition: color 0.3s ease;
  margin: 15px;
}

.star-icon {
  color: #ffca49;
  font-size: 14px;
  transition: color 0.3s ease;
}

.p-text {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
  font-weight: bold;
}
.p-text2 {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
}
.p-text3 {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
  font-weight: bold;
  margin-left: 30%;
}
.p-text4 {
  color: #298592;
  font-size: 20;
  transition: color 0.3s ease;
  font-weight: bold;
}

.social-icon:hover {
  color: #36e8ff94;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 4px;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 90%;
  margin: 8px auto 0;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 8px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card-description {
  color: #555;
}
.three-section-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.section {
  width: 48%;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.OngiongGroups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}

.OngiongGroups img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.OngiongGroups-details {
  flex: 1;
  padding-left: 16px;
}

.OngiongGroups-countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.tagcontainer {
  position: absolute;
  top: 2px;
  left: 14.5%;
  background-color: #8cced7;
  padding: 4px 8px;
  border-radius: 4px;
}

.tagText {
  color: #fff;
  font-size: 2.5vw;
  font-weight: 900;
}

.image {
  width: 100px;
  height: 70px;
  object-fit: contain;
}
.purchase-guide {
  display: flex;
  width: 100%;
}

.guide-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .guide-step {
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .guide-step .step-text {
    margin-left: 10px;
  }
}

.step-icon {
  color: #f58929;
  font-size: 24px;
  transition: color 0.3s ease;
  margin: 15px;
}

.step-text {
  text-align: center;
  font-size: 14px;
  color: #b3b3b3;
  margin-top: 14px;
}

.guide-line {
  border: 1px solid #f58929;
  width: 100%;
  margin-top: 16px;
}

.progress-bar {
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .progress-bar {
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

.progress-text {
  color: #828282;
  font-size: 14px;
  margin-bottom: 8px;
}

.progress-line {
  width: 100%;
  border-radius: 10%;
  height: 3px;
  background-color: #ddd;
  position: relative;
}

.progress {
  height: 100%;
  background-color: orange;
}

.sticky-buttons {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}

.ongoing-groups-button,
.cart-button {
  background-color: #298592;
  color: white;
  padding: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.ongoing-groups-button:hover,
.cart-button:hover {
  background-color: #1d5d70;
}

.bold-text {
  font-weight: bold;
}

.color1-text {
  color: orange;
}
.product-name {
  color: #298592;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 8px;
  max-width: 100%;
  display: inline-block;
  /* white-space: nowrap;
  overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 25ch;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
  .product-name {
    -webkit-line-clamp: 2;
  }
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}

.pagination-item {
  cursor: pointer;
  margin-right: 8px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination-item:hover {
  background-color: #f0f0f0;
}

.pagination-item.active {
  background-color: #298592;
  color: white;
}

.testimonial .slick-slide > div {
  margin: 0 10px;
}
